<%- include("partials/header.ejs") %>


<img src="images/Vector 4.png" id="vector4" alt="vector" style="position:fixed;">
<form action="/add_user" method="post" class="add_user_form">
    <label class="form_label" for="name">Podaj imię:</label>
    <input class="input_add_user" type="text" id="name" name="user" required>
    <input class="input_add_user_submit" type="submit" value="Submit">
</form>


<%- include("partials/footer.ejs") %>